{
  "printWidth": 3600,
  "plugins": ["prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "tabWidth": 2,
        "singleAttributePerLine": true,
        "bracketSameLine": false
      }
    }
  ]
}