@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@import '../../vendor/power-components/livewire-powergrid/resources/css/tailwind4.css';
@import "flatpickr/dist/flatpickr.min.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';
@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans: 'Poppins', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #006569;
    --color-primary-2: #FFDD00;
    --color-accent-1: #00C7CF;
    --color-accent-2: #95F4F8;
    --color-secondary: #4D774E;
    --color-tertiary: #9DC88D;
    --color-red-primary: #CF1E2E;

    --breakpoint-sm: 640px;
    --breakpoint-md: 900px;
    --breakpoint-lg: 1640px;
}

@layer base {
    html {
        @apply text-sm;
    }
}

[x-cloak] { 
    display: none !important; 
}
